*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(145deg, #aa6d, #aa66ff);
    padding: 10px;
}
.todo{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo h2{
    color: #aa66ff;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 50px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(231, 237, 226);
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
    font-size: 25px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}
.footer{
    text-align: center;
    background-color: #1B3358;
    color: #fff;
    font-size: 18px;
}
.footer >p> a{
    color: #fff;
}